.body {
  background-image: linear-gradient(#222629, #222629);
  font-family: roboto;
  letter-spacing: 0.1em;
  opacity: 0.9;
}

/*Header, Navs & Logo */
#logo {
  stroke: white;
  width: 80px;
  height: 70px;
}

#rightside a {
  position: fixed;
  top: 35em;
  right: -6em;
  transform: rotate(90deg);
  float: right;
  font-size: 0.8em;
  color: lightblue;
  font-family: monospace;
}

#rightside a:hover {
  text-decoration: none;
}

.shownav {
  display: block;
}
.hidenav {
  display: none;
}

#scrollnav {
  height: 100vh;
}

#sidenav {
  position: fixed;
}

#social {
  position: absolute;
  bottom: -33em;
}

/* heading styles */
h1 {
  color: white;
  background-clip: text;
  fill: transparent;
  font-size: 3em;
}

#name {
  font-size: 1.25em;
  font-weight: bolder;
}

#subhead {
  opacity: 0.75;
  font-size: 2em;
}

u {
  color: lightblue;
  text-decoration: none;
  font-family: monospace;
}

/* Story CSS */

#story {
  position: relative;
  opacity: 1;
  width: 70%;
}

#hero-background {
  position: absolute;
  width: 600px;
  height: 200px;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-color: white;
  filter: grayscale(100%);
  background-image: url("/Images/Story/hero-background.gif");
  margin: auto;
  margin-top: 12em;
  transform: rotate3d("50deg");
}

#mains {
  position: absolute;
  width: 600px;
  height: 240px;
  background-image: url("/Images/Story/town.gif");
  background-position: center;
  animation: backgrounds 60s linear;
  animation-play-state: running;
  transform: rotate("70deg");
  filter: grayscale(100%);
}

#stages {
  margin-left: 2em;
  left: 12em;
  top: 10em;
  position: absolute;
  width: 200px;
  height: 120px;
  background-image: url("/Images/Story/boy.gif");
  background-position: center;
  animation: journey 60s linear;
  animation-play-state: running;
}

#backgrounds {
  position: relative;
  margin: 0 8em;
  background-image: linear-gradient(#f2f2f2, #f2f2f2);
}

@keyframes backgrounds {
  0% {
    background-image: url("/Images/Story/town.gif");
  }
  15% {
    background-image: url("/Images/Story/town.gif");
    opacity: 1;
  }
  17% {
    background-image: url("/Images/Story/city.gif");
    opacity: 1;
  }
  19% {
    background-image: url("/Images/Story/city.gif");
    opacity: 1;
  }
  69% {
    background-image: url("/Images/Story/city.gif");
    opacity: 1;
  }
  70% {
    background-image: url("/Images/Story/manback.gif");
    opacity: 1;
  }
  99% {
    background-image: url("/Images/Story/manback.gif");
    opacity: 1;
  }
}

@keyframes journey {
  0% {
    background-image: url("/Images/Story/boy.gif");
  }

  15% {
    height: 120px;
    background-image: url("/Images/Story/boy.gif");
    opacity: 0;
  }
  17% {
    height: 100px;
    background-image: url("/Images/Story/teen.gif");
    margin-top: 2em;
    opacity: 0;
    left: 12.5em;
  }
  19% {
    height: 100px;
    background-image: url("/Images/Story/teen.gif");
    margin-top: 2em;
    opacity: 1;
    left: 12.5em;
  }
  64% {
    height: 100px;
    background-image: url("/Images/Story/teen.gif");
    opacity: 1;
    margin-top: 3.5em;
    left: 12.5em;
  }
  69% {
    background-image: url("/Images/Story/teen.gif");
    opacity: 0;
    margin-top: 4em;
  }
  70% {
    width: 100px;
    height: 200px;
    background-image: url("/Images/Story/man.gif");
    margin-top: 4em;
    opacity: 1;
    left: 13em;
  }
  99% {
    width: 100px;
    height: 200px;
    background-image: url("/Images/Story/man.gif");
    margin-top: 4em;
    opacity: 1;
    left: 13em;
  }
}

/*Story CSS End */

/*Experience CSS start */
#experience {
  margin: auto;
  margin-top: 30em;
  color: white;
  width: 80%;
}

#jobdesc,
#other {
  font-size: 0.85em;
}

.duration {
  opacity: 0.5;
}

li {
  list-style: none;
  font-family: roboto;
}
li::before {
  position: relative;
  left: -2.5em;
  content: "";
  display: inline-block;
  background-image: url("/Images/list-style-image.png");
  width: 10px;
  height: 13px;
  text-align: left;
}

#lilly ul {
  list-style-position: outside;
}

.list-group-item {
  font-size: 0.8em;
  letter-spacing: 1px;
}

.list-group-item:link {
  border: none;
}

.list-group-item:link:active {
  border: none;
  color: lightblue;
}

.list-group-item:link:visited {
  border: none;
}

.list-group-item:link:hover,
.list-group-item:active:hover,
.list-group-item:visited:hover {
  color: lightblue;
}

#one,
#two,
#three,
#four,
#humber,
#drdo {
  opacity: 0.85;
}

/* Experience CSS end */

/* Projects CSS start */

#projects {
  margin-top: 7em;
  color: lightslategray;
}

.projimg {
  margin: auto;
  height: 300px;
  background-blend-mode: color;
  background-size: cover;
  background-position: center;
  margin-top: 2em;
}

#wesuppimg {
  background-image: linear-gradient(#123455, #123455),
    url("/Images/projects/wesupport.png");
}

#hpimg {
  background-image: linear-gradient(#123455, #123455),
    url("/Images/projects/100percent.png");
  margin-left: -5em;
  z-index: -1;
}
#qrimg {
  background-image: linear-gradient(#123455, #123455),
    url("/Images/projects/quickread.png");
  margin-left: -5em;
  background-size: contain;
  z-index: -1;
}

#tcimg {
  background-image: linear-gradient(#123455, #123455),
    url("/Images/projects/takecare.png");
  background-size: contain;
  height: 300px;
}

.projright {
  margin: auto;
  align-items: center;
  overflow: hidden;
  margin-left: -5em;
  background-color: #222629;
  padding: 1em;
  background-color: #123455;
  font-size: 0.75em;
  color: ghostwhite;
}

.projleft {
  overflow: visible;
  margin: auto;
  background-color: #123455;
  padding: 1em;
  font-size: 0.75em;
  color: ghostwhite;
}
/* Projects CSS ends */

/* Other projects CSS Start */

.carousel-control-prev,
.carousel-control-next {
  width: 1.8vw;
  background-color: #767676;
  opacity: 0.5;
  margin: 2em 2em;
}

.otherworks {
  font-size: 0.75em;
  height: 500px;
  overflow: hidden;
}

.visible {
  font-size: 0.75em;
  overflow: visible;
}

.project {
  height: 300px;
}

.others {
  border-radius: 1em;
}

#otherworks h3 {
  font-family: roboto;
  font-size: 1em;
  font-weight: lighter;
}

#otherworks p {
  font-size: 0.75em;
  opacity: 0.8;
}

/* Other Projects CSS end */

/* contact CSS start */
footer {
  opacity: 1;
}

/* footer CSS End */

/* theme change css */
.switch {
  background-image: linear-gradient(#767676, #767676);
  font-family: roboto;
  letter-spacing: 0.1em;
  color: black !important;
  opacity: 1;
}

/* Theme change CSS end */
@media screen and (max-width: 760px) {
  #intro {
    padding: 0 !important;
    margin: 0 !important;
  }
  #social a {
    display: none;
  }

  #wesupport,
  #quickread,
  #takecare,
  #100percent {
    margin: auto;
  }

  #wesuppimg,
  #qrimg,
  #tcimg,
  #hpimg {
    display: none;
  }

  #techs {
    display: flex;
  }
  #rightside {
    display: none;
  }

  #link,
  #git {
    display: flex;
    width: 30px;
  }
}
